$backgroundColor: rgb(245, 242, 239);
$adjustedBackgroundColor: adjust-color($color: $backgroundColor, $red: 10, $green: 10, $blue: 10, $alpha: 1.0);
$highlightColor: rgb(250, 249, 222);
$bottomMargin: 0.4rem;

$title_mobileFontSize: 1.1rem;
$title_desktopFontSize: 1.55rem;

$main_mobileMaxWidth: none;
$main_desktopMaxWidth: 25.4rem;

.main {
  background-color: $backgroundColor;
  
  // border: solid rgb(189, 189, 189) 0.1rem;
  border-radius: 0.2rem;
  // border-left: solid $backgroundColor 0.2rem;
  // border-bottom: solid $highlightColor 0.2rem;
  font-size: 0.77rem;

  transition: border-left-color 0.8s ease, background-color 0.4s ease;

  &:hover {
    background-color: $adjustedBackgroundColor;
    opacity: 0.9;
    // border-left: solid $highlightColor 0.2rem;
    // border-bottom: #e8e8e8;

    cursor: pointer;
  }
  // padding: 0.8rem 0.8rem 0.3rem 0.9rem;
  min-height: 8rem;
  margin: 0 1rem $bottomMargin 0;
  max-width: $main_mobileMaxWidth;
  overflow: hidden; // so the image is clipped (has round corners, etc)
}

.title {
  font-family: 'Noto Serif', serif;
  font-size: $title_mobileFontSize;
  color:rgb(73, 73, 73);
}

.date {
  color:rgb(123, 123, 123);
}

.topImg {
  position: relative;
  overflow: hidden;
  height: 8rem;
  margin: 0 0 0 0;
  
}

.metaContainer {
  padding: 0 1rem 1rem 1rem;
}

@media (min-width: 700px) {
  .main {
    min-width: 26rem;
    max-width: $main_desktopMaxWidth;
  }

  .title {
    font-size: $title_desktopFontSize;
  }
}
