$backgroundColor: rgb(245, 242, 239);
$adjustedBackgroundColor: adjust-color($color: $backgroundColor, $red: 10, $green: 10, $blue: 10, $alpha: 1.0);
$highlightColor: rgb(250, 249, 222);
$bottomMargin: 0.9rem;

$title_mobileFontSize: 1.1rem;
$title_desktopFontSize: 1.55rem;

$main_mobileMaxWidth: none;
$main_desktopMaxWidth: 25.4rem;

$sideMargins_mobile: 0.1rem;

.main {
  background-color: $backgroundColor;
  box-shadow: 4px 3px 12px #e2e2e2;
  
  // border: solid rgb(189, 189, 189) 0.1rem;
  border-radius: 0.2rem;
  // border-left: solid $backgroundColor 0.2rem;
  // border-bottom: solid $highlightColor 0.2rem;
  font-size: 0.77rem;

  transition: border-left-color 0.8s ease, background-color 0.4s ease;

  &:hover {
    background-color: $adjustedBackgroundColor;
    box-shadow: 4px 3px 12px #b3b3b3;
    opacity: 0.9;
    // border-left: solid $highlightColor 0.2rem;
    // border-bottom: #e8e8e8;

    cursor: pointer;
  }
  // padding: 0.8rem 0.8rem 0.3rem 0.9rem;
  min-height: 8rem;
  margin: 0 $sideMargins_mobile $bottomMargin $sideMargins_mobile;
  max-width: $main_mobileMaxWidth;
  overflow: hidden; // so the image is clipped (has round corners, etc)
}

.title {
  font-family: 'Noto Serif', serif;
  font-size: $title_mobileFontSize;
  color:rgb(73, 73, 73);
}

.date {
  color:rgb(174, 138, 75);
}

.category {
  color:rgb(108, 108, 108);
}
.description {
  color:rgb(97, 112, 107);

}

.topImg {
  position: relative;
  overflow: hidden;
  height: 8rem;
  margin: 0 0 0 0;
  
}

.metaContainer {
  padding: 0 1rem 1rem 1rem;
}

@media (min-width: 700px) {
  .main {
    min-width: 26rem;
    max-width: $main_desktopMaxWidth;
    margin: 0 2.2rem 3rem 0.1rem;
  }

  .title {
    font-size: $title_desktopFontSize;
  }
}
