.main {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  touch-action: pan-y pinch-zoom;
}

.postList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 700px) {
  .postList {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
  }
}
