$body_mobileFontSize: 0.9rem;
$body_desktopFontSize: 1rem;

$body_mobileLeftMargin: 5vw;
$body_desktopLeftMargin: 8vw;

$body_mobileRightMargin: 5vw;
$body_desktopRightMargin: 8vw;

$title_mobileFontSize: 1.9rem;
$title_desktopFontSize: 2.3rem;

$body_mobileLineHeight: 1.3rem;
$body_desktopLineHeight: 1.8rem;


.category {
  background-color: #c1c1c1;
  font-size: 0.9rem;
  padding: 0.3rem;  
  width: fit-content;
}

.description {
  font-size: 1.1rem;
  padding: 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
  color: #eaeaea;
}

.titleDescContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  border-bottom: solid #878178 2px;
  color: rgb(238, 238, 238);
  font-size: $title_mobileFontSize;
  padding: 0.7rem;
  width: fit-content;
  margin: 0 0 0.8rem 0;
}

.readTime {
  width: fit-content;
  color: rgb(118, 117, 117);
  margin: 0 0.3rem 0 0;
  padding: 0 0.5rem 0.05rem 0.4rem;
  font-size: 0.77rem;
}

.date {
  position: relative;
  top: -0.4rem;
  left: -0.4rem;
  font-size: 0.7rem;
}

.genericCode {
  font-family: "Martian Mono", monospace;
  padding: 0.1rem 0.2rem 0.1rem 0.3rem;
  color: rgb(247, 237, 214);
}

.body {
  font-family: "Merriweather", serif;
  color: rgb(205, 205, 205);
  line-height: $body_mobileLineHeight;
  margin: 0 $body_mobileRightMargin 0 $body_mobileLeftMargin;
  font-size: $body_mobileFontSize;

  & blockquote {
    background-color: rgb(198, 189, 177);
    color: rgb(82, 81, 81);
    padding: 0.1rem 0.6rem 0.1rem 1.3rem;
  }

  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #4da5c8;
  }

  a:focus {
    border-bottom: 1px solid;
    background: #bae498;
  }

  a:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
  }

  a:active {
    background: #265301;
    color: #cdfeaa;
  }
}

.inCategory {
  color:rgb(136, 136, 136);
  font-size: 0.8rem;
  margin: 0 0 0 1.4rem;
}

// for desktop devices
@media (min-width: 700px) {
  .body {
    font-size: $body_desktopFontSize;
    line-height: $body_desktopLineHeight;
    // margin: 0 $body_desktopRightMargin 0 $body_desktopLeftMargin;
  }

  .title {
    font-size: $title_desktopFontSize;
  }
}
