.category {
  background-color: #c1c1c1;
  font-size: 0.9rem;
  padding: 0.3rem;  
  width: fit-content;
}

.description {
  background-color: #797979;
  font-size: 0.7rem;
  padding: 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
  color: #eaeaea;
}

.titleDescContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  background-color: #303030;
  color: rgb(238, 238, 238);
  font-size: 2.3rem;
  padding: 0.7rem;
  width: fit-content;
  margin: 0 0 0.8rem 0;
}

.readTime {
  width: fit-content;
  color: rgb(59 59 59);
  margin: 0 0.3rem 0 0;
  padding: 0 0.5rem 0.05rem 0.4rem;
  font-size: 0.77rem;
}

.date {
  position: relative;
  top: -0.4rem;
  left: -0.4rem;
  font-size: 0.7rem;
}

.genericCode {
  font-family: "Martian Mono", monospace;
  background-color: rgb(29, 82, 116);
  padding: 0.1rem 0.2rem 0.1rem 0.3rem;
  color: rgb(247, 237, 214);
  font-size: 0.88rem;
}

.body {
  font-family: "Varela Round", sans-serif;
  color: rgb(76, 76, 76);
  line-height: 2.2rem;
  margin: 0 0rem 0 1.5rem;
  font-size: 1.2rem;

  & blockquote {
    background-color: rgb(189, 189, 189);
    padding: 0.1rem 0.6rem 0.1rem 1.3rem;
  }

  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #4da5c8;
  }

  a:focus {
    border-bottom: 1px solid;
    background: #bae498;
  }

  a:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
  }

  a:active {
    background: #265301;
    color: #cdfeaa;
  }
}

.inCategory {
  color:rgb(136, 136, 136);
  font-size: 0.8rem;
}
